.App {
  text-align: center;
  /* background-image: linear-gradient(140deg,white,rgb(194, 194, 255)); */
}
::-webkit-scrollbar {
  display: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* .container{
  
  margin-left: 480px;
  margin-top: 150px;
  background-color: #282c34;
} */
.App-link {
  color: #61dafb;
}
.icon1{
  /* background-color: #282c34; */
  width: 50px;
  /* margin-top: 20px; */
  margin-top: -390px;
  margin-left:50px ;
  
}
.icon2{
  margin-top: 400px;
  margin-left: -450px;
}
.icon3{
  margin-top: -440px;
  margin-left: -150px;
}
.icon4{
  margin-top: -100px;
  margin-left: 200px;
}
.icon5{
  margin-top: 360px;
  margin-right: 850px;
}
.icon6{
  margin-top: -540px;
  margin-left: 700px;
}
.icon7{
  margin-top: 336px;
  margin-left: 1000px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
